@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --pink: #EE8B8B;
  --tan-pink: #CE9898;
  --green: #6EC793;
  --red: #F96464;

  --gray: #423A3A;
  --white: #FFF;

  --white-gradient: linear-gradient(150.03deg, #FFF 0%, #FFF4F4 84.51%);
  --pink-gradient: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: var(--white-gradient);
  color: var(--tan-pink);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  align-self: start;

  margin: 32px;
}

.hero img {
  width: 100vw;
  margin-bottom: 64px;
}

section {
  text-align: center;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 11px;
  text-transform: uppercase;
}

strong {
  font-weight: 600;
  color: var(--gray);
}

.description {
  font-size: 14px;
  line-height: 22px;

  margin: 16px 10vw 32px;
}

.form {
  width: 80vw;
  height: 48px;
  margin: 0 10vw 92px;

  position: relative;
}

input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--tan-pink);
  border-radius: 28px;

  font: 14px/28px 'Josefin Sans', sans-serif;
  padding-left: 24px;
  color: var(--gray);

}

input::placeholder {
  opacity: 0.5;
  font: 14px/28px 'Josefin Sans', sans-serif;
  color: var(--tan-pink);
}

button {
  width: 64px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--pink-gradient);
  box-shadow: 0 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 28px;

  position: absolute;
  right: 0;
  top: 0;
}

button ion-icon {
  font-size: 25px;
  color: var(--white);
}

.success, .fail {
  display: none;
}

.valid {
  color: var(--green);
}

.invalid {
  color: var(--red);
}

.invalid input {
  border: 2px solid var(--red);
}

.valid ion-icon.success, .invalid ion-icon.fail {
  display: initial;
  font-size: 24px;

  position: absolute;
  right: 72px;
  top: 12px;
}

.valid p.success, .invalid p.fail {
  display: block;
  font-size: 13px;
  line-height: 13px;
  margin: 8px 0 0 24px;
}

@media (min-width: 1100px) {
  body {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    display: grid;
    grid-template-columns: 445px 610px;
    grid-template-rows: 33px calc(100vh - 33px);
    grid-template-areas:
      "logo hero"
      "text hero";

    gap: 32px 200px;
    margin-left: 12vw;
  }

  .logo {
    grid-area: logo;
    width: 158px;
    margin: 0;
    padding-top: 75px;
  }

  .hero img {
    grid-area: hero;
    width: 610px;
    margin: 0;
  }

  section {
    grid-area: text;
    text-align: left;
  }

  h1 {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 18px;
  }

  .description {
    font-size: 16px;
    line-height: 28px;

    margin: 32px 0 40px;
  }

  .form {
    width: 100%;
    height: 56px;
    margin: 0 0 152px;

    position: relative;
  }

  input {
    height: 56px;
    font-size: 16px;
    padding-left: 32px;
  }

  input::placeholder {
    font-size: 16px;
  }

  button {
    width: 100px;
    height: 56px;
    cursor: pointer;
    transition: all 400ms;
  }

  button:hover {
    opacity: 0.5;
  }

  .valid ion-icon.success, .invalid ion-icon.fail {
    right: 116px;
    top: 16px;
  }

  .valid p.success, .invalid p.fail {
    margin-left: 32px;
  }
}